<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootface.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.face.Person">
    <!--@Table face_person-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="img_id" jdbcType="VARCHAR" property="imgId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="extract" jdbcType="VARCHAR" property="extract" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="person_age" jdbcType="INTEGER" property="personAge" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, img_id, img_url, `extract`, person_name, person_age, gender, address, update_user_id, 
    update_time, create_user_id, create_time
  </sql>

  <select id="selectImgIdList" resultType="cn.com.tzy.springbootentity.dome.face.Person">
    select
      id,
      img_id,
      img_url,
      person_name,
      person_age,
      gender,
      address,
      update_user_id,
      update_time,
      create_user_id,
      create_time
    from face_person
    WHERE img_id in
    <foreach collection="imgIdList" item="item" open="(" close=")" separator="," >
      #{item}
    </foreach>
  </select>

</mapper>