<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.AgentMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.Agent">
    <!--@mbg.generated-->
    <!--@Table fs_agent-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="agent_id" property="agentId" />
    <result column="agent_key" property="agentKey" />
    <result column="agent_name" property="agentName" />
    <result column="agent_code" property="agentCode" />
    <result column="agent_type" property="agentType" />
    <result column="passwd" property="passwd" />
    <result column="sip_phone" property="sipPhone" />
    <result column="record" property="record" />
    <result column="group_id" property="groupId" />
    <result column="after_interval" property="afterInterval" />
    <result column="display" property="display" />
    <result column="ring_time" property="ringTime" />
    <result column="host" property="host" />
    <result column="state" property="state" />
    <result column="status" property="status" />
    <result column="register_time" property="registerTime" />
    <result column="renew_time" property="renewTime" />
    <result column="keepalive_time" property="keepaliveTime" />
    <result column="keep_timeout" property="keepTimeout" />
    <result column="expires" property="expires" />
    <result column="stream_mode" property="streamMode" />
    <result column="transport" property="transport" />
    <result column="charset" property="charset" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, agent_id, agent_key, agent_name, agent_code, agent_type, passwd, 
    sip_phone, record, group_id, after_interval, display, ring_time, `host`, `state`, 
    `status`, register_time, renew_time, keepalive_time, keep_timeout, expires, stream_mode, 
    transport, charset, create_user_id, create_time, update_user_id, update_time
  </sql>

  <select id="findUserModel" resultType="cn.com.tzy.springbootstarterfreeswitch.model.bean.UserModel">
    select
      a.id as id,
      a.agent_code as name,
      a.agent_code as number,
      a.passwd as password,
      1 as audio,
      1 as video,
      1 as level
    from fs_agent a where a.agent_code =#{agentCode}
  </select>

  <select id="findUserId" resultType="cn.com.tzy.springbootentity.dome.fs.Agent">
    select
      a.*
    from fs_agent a,fs_user_agent b
    where a.id = b.agent_id
    and b.user_id = #{userId}
    order by a.create_time desc
    limit 1
  </select>
</mapper>