<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.AgentStateLogMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.AgentStateLog">
    <!--@mbg.generated-->
    <!--@Table fs_agent_state_log-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="group_id" property="groupId" />
    <result column="agent_id" property="agentId" />
    <result column="agent_key" property="agentKey" />
    <result column="agent_name" property="agentName" />
    <result column="call_id" property="callId" />
    <result column="login_type" property="loginType" />
    <result column="work_type" property="workType" />
    <result column="host" property="host" />
    <result column="remote_address" property="remoteAddress" />
    <result column="before_state" property="beforeState" />
    <result column="before_time" property="beforeTime" />
    <result column="state" property="state" />
    <result column="state_time" property="stateTime" />
    <result column="duration" property="duration" />
    <result column="busy_desc" property="busyDesc" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, group_id, agent_id, agent_key, agent_name, call_id, login_type, work_type, 
    `host`, remote_address, before_state, before_time, `state`, state_time, duration, 
    busy_desc, `status`, create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>