<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.CallDtmfMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.CallDtmf">
    <!--@mbg.generated-->
    <!--@Table fs_call_dtmf-->
    <id column="id" property="id" />
    <result column="dtmf_key" property="dtmfKey" />
    <result column="process_id" property="processId" />
    <result column="call_id" property="callId" />
    <result column="dtmf_time" property="dtmfTime" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dtmf_key, process_id, call_id, dtmf_time, `status`, create_user_id, create_time, 
    update_user_id, update_time
  </sql>
</mapper>