<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.CallDeviceMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.CallDevice">
    <!--@mbg.generated-->
    <!--@Table fs_call_device-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="call_id" property="callId" />
    <result column="device_id" property="deviceId" />
    <result column="agent_key" property="agentKey" />
    <result column="agent_name" property="agentName" />
    <result column="device_type" property="deviceType" />
    <result column="cdr_type" property="cdrType" />
    <result column="from_agent" property="fromAgent" />
    <result column="caller" property="caller" />
    <result column="called" property="called" />
    <result column="display" property="display" />
    <result column="called_location" property="calledLocation" />
    <result column="caller_location" property="callerLocation" />
    <result column="call_time" property="callTime" />
    <result column="ring_start_time" property="ringStartTime" />
    <result column="ring_end_time" property="ringEndTime" />
    <result column="answer_time" property="answerTime" />
    <result column="bridge_time" property="bridgeTime" />
    <result column="end_time" property="endTime" />
    <result column="talk_time" property="talkTime" />
    <result column="record_start_time" property="recordStartTime" />
    <result column="record_time" property="recordTime" />
    <result column="sip_protocol" property="sipProtocol" />
    <result column="record" property="record" />
    <result column="record2" property="record2" />
    <result column="record3" property="record3" />
    <result column="channel_name" property="channelName" />
    <result column="hangup_cause" property="hangupCause" />
    <result column="ring_cause" property="ringCause" />
    <result column="sip_status" property="sipStatus" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, call_id, device_id, agent_key, agent_name, device_type, cdr_type, 
    from_agent, caller, `called`, display, called_location, caller_location, call_time, 
    ring_start_time, ring_end_time, answer_time, bridge_time, end_time, talk_time, record_start_time, 
    record_time, sip_protocol, record, record2, record3, channel_name, hangup_cause, 
    ring_cause, sip_status, `status`, create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>