<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.CallLogMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.CallLog">
    <!--@mbg.generated-->
    <!--@Table fs_call_log-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="call_id" property="callId" />
    <result column="caller_display" property="callerDisplay" />
    <result column="caller" property="caller" />
    <result column="called_display" property="calledDisplay" />
    <result column="called" property="called" />
    <result column="number_location" property="numberLocation" />
    <result column="agent_key" property="agentKey" />
    <result column="agent_name" property="agentName" />
    <result column="group_id" property="groupId" />
    <result column="login_type" property="loginType" />
    <result column="task_id" property="taskId" />
    <result column="ivr_id" property="ivrId" />
    <result column="bot_id" property="botId" />
    <result column="call_time" property="callTime" />
    <result column="answer_time" property="answerTime" />
    <result column="end_time" property="endTime" />
    <result column="call_type" property="callType" />
    <result column="direction" property="direction" />
    <result column="answer_flag" property="answerFlag" />
    <result column="wait_time" property="waitTime" />
    <result column="answer_count" property="answerCount" />
    <result column="hangup_dir" property="hangupDir" />
    <result column="sdk_hangup" property="sdkHangup" />
    <result column="hangup_code" property="hangupCode" />
    <result column="media_host" property="mediaHost" />
    <result column="cti_host" property="ctiHost" />
    <result column="client_host" property="clientHost" />
    <result column="record" property="record" />
    <result column="record2" property="record2" />
    <result column="record3" property="record3" />
    <result column="record_type" property="recordType" />
    <result column="record_start_time" property="recordStartTime" />
    <result column="record_time" property="recordTime" />
    <result column="talk_time" property="talkTime" />
    <result column="frist_queue_time" property="fristQueueTime" />
    <result column="queue_start_time" property="queueStartTime" />
    <result column="queue_end_time" property="queueEndTime" />
    <result column="month_time" property="monthTime" />
    <result column="follow_data" property="followData" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, call_id, caller_display, caller, called_display, `called`, number_location, 
    agent_key, agent_name, group_id, login_type, task_id, ivr_id, bot_id, call_time, 
    answer_time, end_time, call_type, direction, answer_flag, wait_time, answer_count, 
    hangup_dir, sdk_hangup, hangup_code, media_host, cti_host, client_host, record, record2, 
    record3, record_type, record_start_time, record_time, talk_time, frist_queue_time, 
    queue_start_time, queue_end_time, month_time, follow_data, `status`, create_user_id, 
    create_time, update_user_id, update_time
  </sql>
</mapper>