<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.CallDetailMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.CallDetail">
    <!--@mbg.generated-->
    <!--@Table fs_call_detail-->
    <id column="id" property="id" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="call_id" property="callId" />
    <result column="detail_index" property="detailIndex" />
    <result column="transfer_type" property="transferType" />
    <result column="transfer_id" property="transferId" />
    <result column="reason" property="reason" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, start_time, end_time, call_id, detail_index, transfer_type, transfer_id, reason, 
    `status`, create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>