<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.CompanyMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.Company">
    <!--@mbg.generated-->
    <!--@Table fs_company-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="company_code" property="companyCode" />
    <result column="contact" property="contact" />
    <result column="phone" property="phone" />
    <result column="balance" property="balance" />
    <result column="bill_type" property="billType" />
    <result column="pay_type" property="payType" />
    <result column="hidden_customer" property="hiddenCustomer" />
    <result column="secret_type" property="secretType" />
    <result column="secret_key" property="secretKey" />
    <result column="ivr_limit" property="ivrLimit" />
    <result column="agent_limit" property="agentLimit" />
    <result column="group_limit" property="groupLimit" />
    <result column="group_agent_limit" property="groupAgentLimit" />
    <result column="record_storage" property="recordStorage" />
    <result column="notify_url" property="notifyUrl" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, company_code, contact, phone, balance, bill_type,
    pay_type, hidden_customer, secret_type, secret_key, ivr_limit, agent_limit, group_limit, 
    group_agent_limit, record_storage, notify_url, `status`, create_user_id, create_time, 
    update_user_id, update_time
  </sql>
</mapper>