<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.GroupMemoryConfigMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.GroupMemoryConfig">
    <!--@mbg.generated-->
    <!--@Table fs_group_memory_config-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="group_id" property="groupId" />
    <result column="success_strategy" property="successStrategy" />
    <result column="success_strategy_value" property="successStrategyValue" />
    <result column="fail_strategy" property="failStrategy" />
    <result column="fail_strategy_value" property="failStrategyValue" />
    <result column="memory_day" property="memoryDay" />
    <result column="inbound_cover" property="inboundCover" />
    <result column="outbound_cover" property="outboundCover" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, group_id, success_strategy, success_strategy_value, fail_strategy, 
    fail_strategy_value, memory_day, inbound_cover, outbound_cover, `status`, create_user_id, 
    create_time, update_user_id, update_time
  </sql>
</mapper>