<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.MediaServerMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.MediaServer">
    <!--@mbg.generated-->
    <!--@Table fs_media_server-->
    <id column="id" property="id" />
    <result column="ip" property="ip" />
    <result column="ssl_status" property="sslStatus" />
    <result column="hook_ip" property="hookIp" />
    <result column="sdp_ip" property="sdpIp" />
    <result column="stream_ip" property="streamIp" />
    <result column="http_port" property="httpPort" />
    <result column="http_ssl_port" property="httpSslPort" />
    <result column="rtmp_port" property="rtmpPort" />
    <result column="rtmp_ssl_port" property="rtmpSslPort" />
    <result column="rtp_proxy_port" property="rtpProxyPort" />
    <result column="rtsp_port" property="rtspPort" />
    <result column="rtsp_ssl_port" property="rtspSslPort" />
    <result column="auto_config" property="autoConfig" />
    <result column="secret" property="secret" />
    <result column="rtp_enable" property="rtpEnable" />
    <result column="enable" property="enable" />
    <result column="keepalive_time" property="keepaliveTime" />
    <result column="status" property="status" />
    <result column="rtp_port_range" property="rtpPortRange" />
    <result column="record_assist_port" property="recordAssistPort" />
    <result column="default_server" property="defaultServer" />
    <result column="hook_alive_interval" property="hookAliveInterval" />
    <result column="video_play_prefix" property="videoPlayPrefix" />
    <result column="video_http_prefix" property="videoHttpPrefix" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ip, ssl_status, hook_ip, sdp_ip, stream_ip, http_port, http_ssl_port, rtmp_port, 
    rtmp_ssl_port, rtp_proxy_port, rtsp_port, rtsp_ssl_port, auto_config, secret, rtp_enable, 
    `enable`, keepalive_time, `status`, rtp_port_range, record_assist_port, default_server, 
    hook_alive_interval, video_play_prefix, video_http_prefix, create_user_id, create_time, 
    update_user_id, update_time
  </sql>
</mapper>