<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.OverflowConfigMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.OverflowConfig">
    <!--@mbg.generated-->
    <!--@Table fs_overflow_config-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="name" property="name" />
    <result column="handle_type" property="handleType" />
    <result column="busy_type" property="busyType" />
    <result column="queue_timeout" property="queueTimeout" />
    <result column="busy_timeout_type" property="busyTimeoutType" />
    <result column="overflow_type" property="overflowType" />
    <result column="overflow_value" property="overflowValue" />
    <result column="lineup_expression" property="lineupExpression" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, `name`, handle_type, busy_type, queue_timeout, busy_timeout_type, 
    overflow_type, overflow_value, lineup_expression, create_user_id, create_time, update_user_id, 
    update_time
  </sql>
</mapper>