<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.PlatformMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.Platform">
    <!--@mbg.generated-->
    <!--@Table fs_platform-->
    <id column="id" property="id" />
    <result column="local_ip" property="localIp" />
    <result column="remote_ip" property="remoteIp" />
    <result column="internal_port" property="internalPort" />
    <result column="external_port" property="externalPort" />
    <result column="start_rtp_port" property="startRtpPort" />
    <result column="end_rtp_port" property="endRtpPort" />
    <result column="ws_port" property="wsPort" />
    <result column="wss_port" property="wssPort" />
    <result column="audio_code" property="audioCode" />
    <result column="video_code" property="videoCode" />
    <result column="frame_rate" property="frameRate" />
    <result column="bit_rate" property="bitRate" />
    <result column="ice_start" property="iceStart" />
    <result column="stun_address" property="stunAddress" />
    <result column="name" property="name" />
    <result column="enable" property="enable" />
    <result column="status" property="status" />
    <result column="audio_record" property="audioRecord" />
    <result column="video_record" property="videoRecord" />
    <result column="audio_record_path" property="audioRecordPath" />
    <result column="video_record_path" property="videoRecordPath" />
    <result column="sound_rile_path" property="soundRilePath" />
    <result column="freeswitch_path" property="freeswitchPath" />
    <result column="freeswitch_log_path" property="freeswitchLogPath" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, local_ip, remote_ip, internal_port, external_port, start_rtp_port, end_rtp_port, 
    ws_port, wss_port, audio_code, video_code, frame_rate, bit_rate, ice_start, stun_address, 
    `name`, `enable`, `status`, audio_record, video_record, audio_record_path,
    video_record_path, sound_rile_path, freeswitch_path, freeswitch_log_path, create_user_id, 
    create_time, update_user_id, update_time
  </sql>
</mapper>