<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.RouteCallMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.RouteCall">
    <!--@mbg.generated-->
    <!--@Table fs_route_call-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="route_group_id" property="routeGroupId" />
    <result column="route_num" property="routeNum" />
    <result column="num_max" property="numMax" />
    <result column="num_min" property="numMin" />
    <result column="caller_change" property="callerChange" />
    <result column="caller_change_num" property="callerChangeNum" />
    <result column="called_change" property="calledChange" />
    <result column="called_change_num" property="calledChangeNum" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, route_group_id, route_num, num_max, num_min, caller_change, caller_change_num, 
    called_change, called_change_num, `status`, create_user_id, create_time, update_user_id, 
    update_time
  </sql>
</mapper>