<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.SkillGroupMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.SkillGroup">
    <!--@mbg.generated-->
    <!--@Table fs_skill_group-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="level_value" property="levelValue" />
    <result column="skill_id" property="skillId" />
    <result column="group_id" property="groupId" />
    <result column="rank_type" property="rankType" />
    <result column="rank_value_start" property="rankValueStart" />
    <result column="rank_value" property="rankValue" />
    <result column="match_type" property="matchType" />
    <result column="share_value" property="shareValue" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, level_value, skill_id, group_id, rank_type, rank_value_start, rank_value, 
    match_type, share_value, `status`, create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>