<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.SkillMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.Skill">
    <!--@mbg.generated-->
    <!--@Table fs_skill-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="name" property="name" />
    <result column="remark" property="remark" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, `name`, remark, `status`, create_user_id, create_time, update_user_id, 
    update_time
  </sql>
</mapper>