<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootfs.mapper.fs.VdnScheduleMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.fs.VdnSchedule">
    <!--@mbg.generated-->
    <!--@Table fs_vdn_schedule-->
    <id column="id" property="id" />
    <result column="company_id" property="companyId" />
    <result column="name" property="name" />
    <result column="level_value" property="levelValue" />
    <result column="type" property="type" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="mon" property="mon" />
    <result column="tue" property="tue" />
    <result column="wed" property="wed" />
    <result column="thu" property="thu" />
    <result column="fri" property="fri" />
    <result column="sat" property="sat" />
    <result column="sun" property="sun" />
    <result column="status" property="status" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, `name`, level_value, `type`, start_time, end_time, mon, tue, wed, 
    thu, fri, sat, sun, `status`, create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>