<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <contextName>SpringBootBean</contextName>

    <appender name="AMQP"
              class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>
                {
                "time": "%date{ISO8601}",
                "thread": "%thread",
                "level":
                "%level",
                "class": "%logger{60}",
                "message": "%msg"
                }
            </pattern>
        </layout>
        <host>1.15.9.228</host>
        <port>15671</port>
        <username>spring-cloud</username>
        <password>spring-boot</password>
        <applicationId>${springAppName}</applicationId>
        <routingKeyPattern>spring-boot-face</routingKeyPattern>
        <exchangeType>direct</exchangeType>
        <includeCallerData>true</includeCallerData>
        <exchangeName>ex_logstash</exchangeName>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
        <declareExchange>true</declareExchange>
        <autoDelete>false</autoDelete>
    </appender>

    <logger name="org.springframework" level="warn" />
    <logger name="org.hibernate" level="warn" />

    <!-- 生产环境下，将此级别配置为适合的级别，以免日志文件太多或影响程序性能 -->
    <root level="INFO">
        <!-- 生产环境将请stdout去掉 -->
        <appender-ref ref="AMQP" />
    </root>
</configuration>