<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.DeviceMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.Device">
    <!--@Table video_device-->
    <id column="id" property="id" />
    <result column="device_id" property="deviceId" />
    <result column="name" property="name" />
    <result column="manufacturer" property="manufacturer" />
    <result column="model" property="model" />
    <result column="custom_name" property="customName" />
    <result column="firmware" property="firmware" />
    <result column="transport" property="transport" />
    <result column="ip" property="ip" />
    <result column="port" property="port" />
    <result column="host_address" property="hostAddress" />
    <result column="password" property="password" />
    <result column="sdp_ip" property="sdpIp" />
    <result column="local_ip" property="localIp" />
    <result column="charset" property="charset" />
    <result column="tree_type" property="treeType" />
    <result column="geo_coord_sys" property="geoCoordSys" />
    <result column="online" property="online" />
    <result column="register_time" property="registerTime" />
    <result column="keepalive_time" property="keepaliveTime" />
    <result column="keepalive_interval_time" property="keepaliveIntervalTime" />
    <result column="stream_mode" property="streamMode" />
    <result column="expires" property="expires" />
    <result column="mobile_position_submission_interval" property="mobilePositionSubmissionInterval" />
    <result column="subscribe_cycle_for_catalog" property="subscribeCycleForCatalog" />
    <result column="subscribe_cycle_for_mobile_position" property="subscribeCycleForMobilePosition" />
    <result column="subscribe_cycle_for_alarm" property="subscribeCycleForAlarm" />
    <result column="as_message_channel" property="asMessageChannel" />
    <result column="has_administrator" property="hasAdministrator" />
    <result column="switch_primary_sub_stream" property="switchPrimarySubStream" />
    <result column="ssrc_check" property="ssrcCheck" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, `name`, manufacturer, model, custom_name, firmware, transport, ip, 
    port, host_address, `password`, sdp_ip, local_ip, charset, tree_type, geo_coord_sys,
    `online`, register_time, keepalive_time, keepalive_interval_time,stream_mode, expires, mobile_position_submission_interval,
    subscribe_cycle_for_catalog, subscribe_cycle_for_mobile_position, subscribe_cycle_for_alarm,
    has_administrator,as_message_channel,switch_primary_sub_stream,ssrc_check, create_user_id, create_time, update_user_id, update_time
  </sql>

  <select id="findPlatformIdChannelId" resultType="cn.com.tzy.springbootentity.dome.video.Device">
    select
      vd.*
    from video_device vd,video_device_channel vdc ,video_platform_gb_channel vpgc
    where vd.device_id = vdc.device_id
    and vdc.channel_id = vpgc.device_channel_id
    and vdc.channel_id = #{channelId}
    and vpgc.platform_id = #{platformId}
  </select>

  <select id="findDeviceInfoPlatformIdChannelId" resultType="cn.com.tzy.springbootentity.dome.video.Device">
    select
    vd.*,
    vdc.channel_id as deviceId,
    vdc.name as name
    from video_device vd,video_device_channel vdc ,video_platform_gb_channel vpgc
    where vd.device_id = vdc.device_id
    and vdc.channel_id = vpgc.device_channel_id
    and vdc.channel_id = #{channelId}
    and vpgc.platform_id = #{platformId}
  </select>

  <select id="findPage" resultType="cn.com.tzy.springbootentity.dome.video.Device">
    select
        vd.*,
        (select count(vdc.id) from video_device_channel vdc where video_device.device_id = vdc.device_id) as channelCount
    from video_device vd
    <trim prefix="where" prefixOverrides="and">
      <if test="param.query != null and param.query != ''">
        and (vd.name like concat('%',#{param.query},'%') or vd.ip like concat('%',#{param.query},'%') or vd.sdp_ip like concat('%',#{param.query},'%'))
      </if>
      and(vd.has_administrator = 0 or (vd.has_administrator = 1 and vd.has_administrator = #{administrator}))
    </trim>
  </select>
</mapper>