<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.DeviceChannelMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
    <!--@Table video_device_channel-->
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="channel_id" property="channelId" />
    <result column="device_id" property="deviceId" />
    <result column="name" property="name" />
    <result column="manufacture" property="manufacture" />
    <result column="model" property="model" />
    <result column="owner" property="owner" />
    <result column="civil_code" property="civilCode" />
    <result column="block" property="block" />
    <result column="address" property="address" />
    <result column="parental" property="parental" />
    <result column="safety_way" property="safetyWay" />
    <result column="register_way" property="registerWay" />
    <result column="cert_num" property="certNum" />
    <result column="certifiable" property="certifiable" />
    <result column="err_code" property="errCode" />
    <result column="end_time" property="endTime" />
    <result column="secrecy" property="secrecy" />
    <result column="ip_address" property="ipAddress" />
    <result column="port" property="port" />
    <result column="password" property="password" />
    <result column="ptz_type" property="ptzType" />
    <result column="ptz_type_text" property="ptzTypeText" />
    <result column="status" property="status" />
    <result column="longitude" property="longitude" />
    <result column="latitude" property="latitude" />
    <result column="longitude_gcj02" property="longitudeGcj02" />
    <result column="latitude_gcj02" property="latitudeGcj02" />
    <result column="longitude_wgs84" property="longitudeWgs84" />
    <result column="latitude_wgs84" property="latitudeWgs84" />
    <result column="sub_count" property="subCount" />
    <result column="stream_id" property="streamId" />
    <result column="has_audio" property="hasAudio" />
    <result column="has_record" property="hasRecord" />
    <result column="channel_type" property="channelType" />
    <result column="business_group_id" property="businessGroupId" />
    <result column="gps_time" property="gpsTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, channel_id, device_id, `name`, manufacture, model, `owner`, civil_code, 
    block, address, parental, safety_way, register_way, cert_num, certifiable, err_code, 
    end_time, secrecy, ip_address, port, `password`, ptz_type, ptz_type_text, `status`, 
    longitude, latitude, longitude_gcj02, latitude_gcj02, longitude_wgs84, latitude_wgs84, 
    sub_count, stream_id, has_audio,has_record, channel_type, business_group_id, gps_time, create_user_id,
    create_time, update_user_id, update_time
  </sql>


  <select id="findPlatformIdChannelId" resultType="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
        select
          vdc.*
        from video_device_channel vdc ,video_platform_gb_channel vpgc
        where vdc.channel_id = vpgc.device_channel_id
        and vpgc.platform_id = #{platformId}
        and vdc.channel_id = #{channelId}
  </select>

  <select id="queryChannelWithCatalog" resultType="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
    select
    vdc.*,
    vdc.longitude_wgs84 as longitude,
    vdc.latitude_wgs84 as latitude,
    vdc.parental as parental,
    '0' as channelType,
    vpc.id as parentId
    from video_device_channel vdc
    left join video_platform_gb_channel vpgc on vdc.channel_id = vpgc.device_channel_id
    left join video_platform_catalog vpc on vpc.id = vpgc.catalog_id and vpc.platform_id = vpgc.platform_id
    where vpgc.platform_id = #{serverGbId}
  </select>

  <select id="queryGbStreamListInPlatform" resultType="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
    select
    vgs.gb_id as channelId,
    'springbootcloud' as manufacture,
    '1' as channelType,
    vgs.name as name,
    vst.status as status,
    vgs.longitude as longitude,
    vgs.latitude as latitude,
    vpcg.id as parentId,
    '1' as registerWay,
    vpcg.civil_code as civilCode,
    'live' as model,
    'springbootcloud' as owner,
    '0' as parental,
    '0' as secrecy
    from video_gb_stream vgs 
    left join (
        select 
            if(${usPushingAsStatus},vsp.push_ing,vsp.status) as status,
            vsp.app as app,
            vsp.stream as stream
        from video_stream_push vsp 
        union  all
        select
          spxy.status as status,
          spxy.app as app,
          spxy.stream as stream
        from video_stream_proxy spxy
    ) vst on vst.app = vgs.app and vst.stream = vgs.stream
    left join video_platform_gb_stream vpgs on vgs.gb_id = vpgs.gb_stream_id
    left join video_platform_catalog vpcg on vpgs.platform_id = vpcg.platform_id and vpgs.catalog_id = vpcg.id
    where vpgs.platform_id = #{serverGbId}
    <if test="gbId != null and gbId != ''">
      and vgs.gb_id = #{gbId}
    </if>
  </select>

  <update id="updateChannelSubCount">
    update video_device_channel
    set sub_count = (select a.count from (select ifnull(count(1),0) as count from video_device_channel where device_id = #{deviceId} and parent_id = #{channelId})a)
    where device_id = #{deviceId}
    and channel_id = #{channelId}
  </update>

  <select id="businessGroupList" resultType="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
    select
    vdc.*
    from video_device_channel vdc
    where vdc.device_id = #{deviceId}
    <if test="online != null">
      and vdc.status = #{online}
    </if>
    <if test="isCivilCode != null and isCivilCode == true ">
        and vdc.civil_code is not null and vdc.civil_code != ''
    </if>
  </select>

  <select id="findTreeDeviceChannel" resultType="cn.com.tzy.springbootentity.vo.video.DeviceChannelTreeVo">
    select null as parentId, vd.device_id as id,vd.device_id as name ,vd.device_id as deviceId,1 as type, vd.online as status from video_device vd
    union all
    select vdc.device_id as parentId ,vdc.channel_id as id ,vdc.channel_id as name,vdc.device_id as deviceId,2 as type, vdc.status as status from video_device_channel vdc
  </select>

</mapper>