<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.DeviceMobilePositionMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.DeviceMobilePosition">
    <!--@Table video_device_mobile_position-->
    <id column="id" property="id" />
    <result column="device_id" property="deviceId" />
    <result column="channel_id" property="channelId" />
    <result column="device_name" property="deviceName" />
    <result column="time" property="time" />
    <result column="longitude" property="longitude" />
    <result column="latitude" property="latitude" />
    <result column="altitude" property="altitude" />
    <result column="speed" property="speed" />
    <result column="direction" property="direction" />
    <result column="report_source" property="reportSource" />
    <result column="longitude_gcj02" property="longitudeGcj02" />
    <result column="latitude_gcj02" property="latitudeGcj02" />
    <result column="longitude_wgs84" property="longitudeWgs84" />
    <result column="latitude_wgs84" property="latitudeWgs84" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, channel_id, device_name, `time`, longitude, latitude, altitude, speed, 
    direction, report_source, longitude_gcj02, latitude_gcj02, longitude_wgs84, latitude_wgs84, 
    create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>