<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.DeviceAlarmMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.DeviceAlarm">
    <!--@Table video_device_alarm-->
    <id column="id" property="id" />
    <result column="device_id" property="deviceId" />
    <result column="channel_id" property="channelId" />
    <result column="alarm_priority" property="alarmPriority" />
    <result column="alarm_method" property="alarmMethod" />
    <result column="alarm_time" property="alarmTime" />
    <result column="alarm_description" property="alarmDescription" />
    <result column="longitude" property="longitude" />
    <result column="latitude" property="latitude" />
    <result column="alarm_type" property="alarmType" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, channel_id, alarm_priority, alarm_method, alarm_time, alarm_description, 
    longitude, latitude, alarm_type, create_user_id, create_time, update_user_id, update_time
  </sql>
</mapper>