<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.GbStreamMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.GbStream">
    <!--@Table video_gb_stream-->
    <id column="gb_stream_id" property="gbStreamId" />
    <result column="app" property="app" />
    <result column="stream" property="stream" />
    <result column="gb_id" property="gbId" />
    <result column="name" property="name" />
    <result column="longitude" property="longitude" />
    <result column="latitude" property="latitude" />
    <result column="stream_type" property="streamType" />
    <result column="media_server_id" property="mediaServerId" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    gb_stream_id, app, stream, gb_id, `name`, longitude, latitude, stream_type, media_server_id, 
    create_user_id, create_time, update_user_id, update_time
  </sql>

  <select id="findPlatformId" resultType="cn.com.tzy.springbootentity.dome.video.GbStream">
    select
        vgs.*,
        vpgs.platform_id as platformId,
        vpgs.catalog_id as catalogId
    from video_gb_stream vgs ,video_platform_gb_stream vpgs
    where vgs.gb_id = vpgs.gb_stream_id
    and vgs.gb_id = #{gbId}
    and vpgs.platform_id = #{platformId}
  </select>

  <select id="findPage" resultType="cn.com.tzy.springbootentity.dome.video.GbStream">
    select
        vgs.*
    from video_gb_stream vgs
    <trim prefix="where" prefixOverrides="and">
      <if test="param.catalogId != null and param.catalogId != ''">
        and exists(select 1 from video_platform_gb_stream vpgs where vpgs.platform_id = #{param.platformId} and vpgs.catalog_id = #{param.catalogId})
      </if>
      <if test="param.catalogId == null or param.catalogId == ''">
        and not exists(select 1 from video_platform_gb_stream vpgs where vpgs.platform_id = #{param.platformId})
      </if>
      <if test="param.query != null and param.query != ''">
        and (vgs.app like concat('%',#{param.query},'%') or vgs.stream like concat('%',#{param.query},'%') or vgs.gb_id like concat('%',#{param.query},'%') or vgs.name like concat('%',#{param.query},'%'))
      </if>
      <if test="param.mediaServerId != null and param.mediaServerId != ''">
        and vgs.media_server_id = #{param.mediaServerId}
      </if>
    </trim>
  </select>
</mapper>