<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.ParentPlatformMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.ParentPlatform">
    <!--@Table video_parent_platform-->
    <id column="id" property="id" />
    <result column="enable" property="enable" />
    <result column="name" property="name" />
    <result column="server_gb_id" property="serverGbId" />
    <result column="server_gb_domain" property="serverGbDomain" />
    <result column="server_ip" property="serverIp" />
    <result column="server_port" property="serverPort" />
    <result column="device_gb_id" property="deviceGbId" />
    <result column="device_ip" property="deviceIp" />
    <result column="device_port" property="devicePort" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="expires" property="expires" />
    <result column="keep_timeout" property="keepTimeout" />
    <result column="transport" property="transport" />
    <result column="character_set" property="characterSet" />
    <result column="catalog_id" property="catalogId" />
    <result column="catalog_group" property="catalogGroup" />
    <result column="ptz" property="ptz" />
    <result column="rtcp" property="rtcp" />
    <result column="status" property="status" />
    <result column="start_offline_push" property="startOfflinePush" />
    <result column="administrative_division" property="administrativeDivision" />
    <result column="tree_type" property="treeType" />
    <result column="as_message_channel" property="asMessageChannel" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `enable`, `name`, server_gb_id, server_gb_domain, server_ip, server_port, device_gb_id, 
    device_ip, device_port, username, `password`, expires, keep_timeout, transport, character_set, 
    catalog_id, catalog_group, ptz, rtcp, `status`, start_offline_push, administrative_division, 
    tree_type,as_message_channel, create_user_id, create_time, update_user_id, update_time
  </sql>

  <select id="findChannelSource" resultType="map">
    select 'channel' as name, count(vpgc.platform_id) count from video_platform_gb_channel vpgc left join video_device_channel vdc on vdc.channel_id = vpgc.device_channel_id where  vpgc.platform_id=#{serverGbId} and vdc.channel_id =#{channelId}
    union
    select 'stream' as name, count(vpgs.platform_id) count from video_platform_gb_stream vpgs left join video_gb_stream vgs on vpgs.gb_stream_id = vgs.gb_id where  vpgs.platform_id=#{serverGbId} and vgs.gb_id = #{channelId}
  </select>

  <select id="queryPlatFormListForGBWithGBId" resultType="cn.com.tzy.springbootentity.dome.video.ParentPlatform">
    select
      vpp.*
    from video_parent_platform vpp,video_platform_gb_channel vpgc ,video_device_channel vdc
    where vpp.server_gb_id = vpgc.platform_id
    and vpgc.device_channel_id = vdc.channel_id
    and vpp.status = 1
    and vdc.channel_id = #{channelId}
    <foreach collection="allPlatformId" item="item" open="and vpp.server_gb_id in (" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="queryPlatFormListForStreamWithGBId" resultType="cn.com.tzy.springbootentity.dome.video.ParentPlatform">
    select
        vpp.*
    from video_parent_platform vpp,video_platform_gb_stream vpgs,video_gb_stream vgs
    where vpp.server_gb_id = vpgs.platform_id
    and vpgs.gb_stream_id = vgs.gb_id
    and vgs.app = #{app}
    and vgs.stream = #{stream}
    <if test="allPlatformId != null and allPlatformId.size() != 0">
      <foreach collection="allPlatformId" item="item" open="and vpp.server_gb_id in (" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>
</mapper>