<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.PlatformGbStreamMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.PlatformGbStream">
    <!--@Table video_platform_gb_stream-->
    <id column="id" property="id" />
    <result column="platform_id" property="platformId" />
    <result column="catalog_id" property="catalogId" />
    <result column="gb_stream_id" property="gbStreamId" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, platform_id, catalog_id, gb_stream_id, create_user_id, create_time, update_user_id, 
    update_time
  </sql>

  <select id="findGbStreamsList" resultType="cn.com.tzy.springbootentity.dome.video.GbStream">
    select
    <if test="isOn == 1">
      vpgs.platform_id as platformId,
      vpgs.catalog_id as catalogId,
    </if>
    vgs.*
    from video_gb_stream vgs
    <if test="isOn == 1">
      left join video_platform_gb_stream vpgs on  vgs.gb_id = vpgs.gb_stream_id
    </if>
    <trim prefix="where" prefixOverrides="and">
      <if test="gbIdList != null and gbIdList.size() != 0">
        <foreach collection="gbIdList"  item="item" open="and vgs.gb_id in (" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="query != null and query != ''">
        and( vgs.gb_id like concat('%',#{query},'%') or vgs.name like concat('%',#{query},'%'))
      </if>
      <if test="isOn == 0">
        and not exists(select 1 from video_platform_gb_stream pgs where  vgs.gb_id = pgs.gb_stream_id and pgs.platform_id = #{platformId})
      </if>
      <if test="isOn == 1">
        and vpgs.platform_id = #{platformId}
        <if test="catalogIdList != null and catalogIdList.size() != 0">
          <foreach collection="catalogIdList"  item="item" open="and vpgs.catalog_id in (" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
    </trim>
  </select>

  <delete id="delPlatformGbStream">
     delete from video_platform_gb_stream where gb_stream_id in (select gb_id from video_gb_stream where app = #{app} and stream = #{stream})
  </delete>

</mapper>