<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.PlatformGbChannelMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.PlatformGbChannel">
    <!--@Table video_platform_gb_channel-->
    <id column="id" property="id" />
    <result column="platform_id" property="platformId" />
    <result column="catalog_id" property="catalogId" />
    <result column="device_channel_id" property="deviceChannelId" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, platform_id, catalog_id, device_channel_id, create_user_id, create_time, update_user_id, 
    update_time
  </sql>

  <select id="findDeviceChannelList" resultType="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
    select
    vdc.*,
    vd.host_address as hostAddress,
    <if test="isOn == 1">
      vpgc.platform_id as platformId,
      vpgc.catalog_id as catalogId,
    </if>
    vd.manufacturer as manufacturer
    from (video_device_channel vdc,video_device vd)
    <if test="isOn == 1">
      left join video_platform_gb_channel vpgc on  vdc.channel_id = vpgc.device_channel_id
    </if>
    where vdc.device_id = vd.device_id
    and (vd.has_administrator = 0 or (vd.has_administrator = 1 and vd.has_administrator = #{administrator}))
    <if test="gbIdList != null and gbIdList.size() != 0">
      <foreach collection="gbIdList"  item="item" open="and vdc.channel_id in (" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="query != null and query != ''">
      and( vdc.channel_id like concat('%',#{query},'%') or vdc.name like concat('%',#{query},'%'))
    </if>
    <if test="online != null">
      and vdc.status = #{online}
    </if>
    <if test="isOn == 1">
      and vpgc.platform_id = #{platformId}
      <if test="catalogIdList != null and catalogIdList.size() != 0">
        <foreach collection="catalogIdList"  item="item" open="and vpgc.catalog_id in (" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </if>
    <if test="isOn == 0">
      and vdc.id not in(select 1 from video_platform_gb_channel v where v.platform_id = #{platformId} and vdc.channel_id = v.device_channel_id)
    </if>
  </select>

  <delete id="delPlatformGbChannel">
    delete
    from video_platform_gb_channel
    where device_channel_id in (
        select
            channel_id
        from video_device_channel
        <trim prefix="where" prefixOverrides="and">
          <if test="deviceId != null and deviceId != ''">
            and device_id = #{deviceId}
          </if>
          <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
          </if>

        </trim>
    )
  </delete>

  <select id="findChannelIdList" resultType="cn.com.tzy.springbootentity.dome.video.ParentPlatform">
    select
      a.*
    from video_parent_platform a,video_platform_gb_channel b
    where a.server_gb_id = b.platform_id
    and b.device_channel_id = #{channelId}
  </select>
</mapper>