<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.PlatformCatalogMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.PlatformCatalog">
    <!--@Table video_platform_catalog-->
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="name" property="name" />
    <result column="platform_id" property="platformId" />
    <result column="civil_code" property="civilCode" />
    <result column="business_group_id" property="businessGroupId" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, `name`, platform_id, civil_code, business_group_id, create_user_id, 
    create_time, update_user_id, update_time
  </sql>

  <select id="findId" resultType="cn.com.tzy.springbootentity.dome.video.PlatformCatalog">
    select
      vpc.*,
      (select COUNT(pc.id) from video_platform_catalog pc where pc.parent_id = vpc.id) as childrenCount
    from video_platform_catalog vpc
    where vpc.id = #{id}
  </select>

  <select id="queryCatalogInPlatform" resultType="cn.com.tzy.springbootentity.dome.video.DeviceChannel">
    select
      vpc.id as channelId,
      vpc.name as name,
      vpc.civil_code as civilCode,
      vpc.business_group_id as businessGroupId,
      '1' as parental ,
      '2' as channelType,
      vpc.parent_id as parentId
    from video_platform_catalog vpc
    where vpc.platform_id = #{serverGbId}
  </select>

  <select id="findGbStream" resultType="cn.com.tzy.springbootentity.dome.video.PlatformCatalog">
    select
      vgs.*,
      vgs.gb_id as id,
      vpgs.platform_id as platformId,
      vpgs.catalog_id as parentId,
      0 as childrenCount,
      2 as type
    from video_gb_stream vgs,video_platform_gb_stream vpgs
    where vpgs.gb_stream_id = vgs.gb_id
    and vpgs.catalog_id = #{id}
    and  vpgs.platform_id = #{platformId}
  </select>
  <select id="findGbChannel" resultType="cn.com.tzy.springbootentity.dome.video.PlatformCatalog">
    select
      vdc.*,
      vdc.channel_id as id,
      vpgc.platform_id as platformId,
      vpgc.catalog_id as parentId,
      0 as childrenCount,
      1 as type
    from video_device_channel vdc ,video_platform_gb_channel vpgc
    where vpgc.device_channel_id = vdc.channel_id
    and vpgc.platform_id = #{platformId}
    and vpgc.catalog_id = #{id}
  </select>
</mapper>