<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.StreamPushMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.StreamPush">
    <!--@Table video_stream_push-->
    <id column="id" property="id" />
    <result column="app" property="app" />
    <result column="stream" property="stream" />
    <result column="total_reader_count" property="totalReaderCount" />
    <result column="origin_type" property="originType" />
    <result column="origin_type_str" property="originTypeStr" />
    <result column="alive_second" property="aliveSecond" />
    <result column="media_server_id" property="mediaServerId" />
    <result column="server_id" property="serverId" />
    <result column="push_time" property="pushTime" />
    <result column="status" property="status" />
    <result column="push_ing" property="pushIng" />
    <result column="self" property="onSelf" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app, stream, total_reader_count, origin_type, origin_type_str, alive_second, 
    media_server_id, server_id, push_time, `status`, push_ing, `self`, create_time, update_time
  </sql>

  <select id="findMediaServiceNotGbId" resultType="cn.com.tzy.springbootentity.dome.video.StreamPush">
    select
      vsp.*
    from video_stream_push vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    where  vsp.media_server_id = #{mediaServiceId}
    and (vgs.gb_id is null or  vgs.gb_id = '')
  </select>

  <select id="findPageCount"  resultType="int">
    select
        count(vsp.id)
    from video_stream_push vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    <trim prefix="where" prefixOverrides="and">
      <if test="param.mediaServerId != null and param.mediaServerId != ''">
        AND vsp.media_server_id=#{param.mediaServerId}
      </if>
      <if test="param.pushing != null and param.pushing != ''">
        AND vsp.push_ing=#{param.pushing}
      </if>
      <if test="param.query != null and param.query != ''">
        AND (vsp.app LIKE concat('%',#{param.query},'%') OR vsp.stream LIKE concat('%',#{param.query},'%') OR vgs.gb_id LIKE concat('%',#{param.query},'%') OR vgs.name LIKE concat('%',#{param.query},'%'))
      </if>
    </trim>
  </select>

  <select id="findPageResult" resultType="cn.com.tzy.springbootentity.vo.video.StreamPushVo">
    select
        vsp.* ,
        vgs.gb_id as gbId,
        vgs.name as name,
        vgs.longitude as longitude,
        vgs.latitude as latitude,
        vgs.gb_stream_id as gbStreamId
    from video_stream_push vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    <trim prefix="where" prefixOverrides="and">
      <if test="param.mediaServerId != null and param.mediaServerId != ''">
        AND vsp.media_server_id=#{param.mediaServerId}
      </if>
      <if test="param.pushing != null and param.pushing != ''">
        AND vsp.push_ing=#{param.pushing}
      </if>
      <if test="param.query != null and param.query != ''">
        AND (vsp.app LIKE concat('%',#{param.query},'%') OR vsp.stream LIKE concat('%',#{param.query},'%') OR vgs.gb_id LIKE concat('%',#{param.query},'%') OR vgs.name LIKE concat('%',#{param.query},'%'))
      </if>
    </trim>
    <if test="param.sort != null and param.sort.field != null and param.sort.order != null">
      order by bs.${param.sort.field} ${param.sort.order}
    </if>
    <if test="param.pageNumber != null and param.pageSize != null">
      limit ${param.startRow},${param.pageSize}
    </if>
  </select>

  <select id="detail" resultType="cn.com.tzy.springbootentity.vo.video.StreamPushVo">
    select
    vsp.* ,
    vgs.gb_id as gbId,
    vgs.name as name,
    vgs.longitude as longitude,
    vgs.latitude as latitude,
    vgs.gb_stream_id as gbStreamId
    from video_stream_push vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    where vsp.id = #{id}
  </select>
</mapper>