<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootvideo.mapper.StreamProxyMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.video.StreamProxy">
    <!--@Table video_stream_proxy-->
    <id column="id" property="id" />
    <result column="type" property="type" />
    <result column="app" property="app" />
    <result column="stream" property="stream" />
    <result column="name" property="name" />
    <result column="status" property="status" />
    <result column="media_server_id" property="mediaServerId" />
    <result column="url" property="url" />
    <result column="src_url" property="srcUrl" />
    <result column="dst_url" property="dstUrl" />
    <result column="timeout_ms" property="timeoutMs" />
    <result column="ffmpeg_cmd_key" property="ffmpegCmdKey" />
    <result column="rtp_type" property="rtpType" />
    <result column="enable" property="enable" />
    <result column="enable_audio" property="enableAudio" />
    <result column="enable_mp4" property="enableMp4" />
    <result column="enable_remove_none_reader" property="enableRemoveNoneReader" />
    <result column="enable_disable_none_reader" property="enableDisableNoneReader" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `type`, app, stream, `name`, `status`, media_server_id, url, src_url, dst_url, 
    timeout_ms, ffmpeg_cmd_key, rtp_type, `enable`, enable_audio, enable_mp4, enable_remove_none_reader, 
    enable_disable_none_reader, create_user_id, create_time, update_user_id, update_time
  </sql>

  <select id="findPageCount"  resultType="int">
    select
    count(vsp.id)
    from video_stream_proxy vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    <trim prefix="where" prefixOverrides="and">
      <if test="param.online != null and param.online != ''">
        AND vsp.status=#{param.online}
      </if>
      <if test="param.query != null and param.query != ''">
        AND (vsp.app LIKE concat('%',#{param.query},'%') OR vsp.stream LIKE concat('%',#{param.query},'%') OR vgs.gb_id LIKE concat('%',#{param.query},'%') OR vgs.name LIKE concat('%',#{param.query},'%'))
      </if>
    </trim>
  </select>

  <select id="findPageResult" resultType="cn.com.tzy.springbootentity.vo.video.StreamProxyVo">
    select
    vsp.* ,
    vgs.gb_id as gbId,
    vgs.name as name,
    vgs.longitude as longitude,
    vgs.latitude as latitude,
    vgs.gb_stream_id as gbStreamId
    from video_stream_proxy vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    <trim prefix="where" prefixOverrides="and">
      <if test="param.online != null and param.online != ''">
        AND vsp.status=#{param.online}
      </if>
      <if test="param.query != null and param.query != ''">
        AND (vsp.app LIKE concat('%',#{param.query},'%') OR vsp.stream LIKE concat('%',#{param.query},'%') OR vgs.gb_id LIKE concat('%',#{param.query},'%') OR vgs.name LIKE concat('%',#{param.query},'%'))
      </if>
    </trim>
    <if test="param.sort != null and param.sort.field != null and param.sort.order != null">
      order by bs.${param.sort.field} ${param.sort.order}
    </if>
    <if test="param.pageNumber != null and param.pageSize != null">
      limit ${param.startRow},${param.pageSize}
    </if>
  </select>

  <select id="detail" resultType="cn.com.tzy.springbootentity.vo.video.StreamProxyVo">
    select
    vsp.* ,
    vgs.gb_id as gbId,
    vgs.name as name,
    vgs.longitude as longitude,
    vgs.latitude as latitude,
    vgs.gb_stream_id as gbStreamId
    from video_stream_proxy vsp
    left join video_gb_stream vgs on vsp.app = vgs.app and vsp.stream = vgs.stream
    where vsp.id  = #{id}
  </select>
</mapper>