<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.ConfigMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sys.Config">
    <!--@mbg.generated-->
    <!--@Table sys_config-->
    <id column="k" property="k" />
    <result column="config_name" property="configName" />
    <result column="v" property="v" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `k`, config_name, v, update_user_id, update_time, create_user_id, create_time
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sys.ConfigParam" resultType="int">
    select
    count(sc.k)
    from sys_config sc
    <trim prefix="where" prefixOverrides="and">
        <if test="configName != null and configName != ''">
            and sc.config_name like concat('%',#{configName},'%')
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sys.ConfigParam" resultType="cn.com.tzy.springbootentity.dome.sys.Config">
    select
    sc.*
    from sys_config sc
    <trim prefix="where" prefixOverrides="and">
        <if test="configName != null and configName != ''">
            and sc.config_name like concat('%',#{configName},'%')
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by sc.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>


</mapper>