<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.DepartmentConnectMenuMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.DepartmentConnectMenu">
    <!--@mbg.generated-->
    <!--@Table bean_department_connect_menu-->
    <result column="department_id" property="departmentId" />
    <result column="menu_id" property="menuId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    department_id, menu_id, update_user_id, update_time, create_user_id, create_time,
    tenant_id
  </sql>

  <select id="findDepartmentPrivilegeList" resultType="string">
       select
       bdcp.menu_id
       from bean_department_connect_menu bdcp,bean_menu bp
       where  bdcp.department_id =#{departmentId}
       and bdcp.menu_id = bp.id
  </select>

  <insert id="saveDepartmentConnectMenu">
    insert into bean_department_connect_menu(department_id,menu_id) VALUES
    <foreach collection="menuIdList" item="menuId" separator=",">
     (#{departmentId},#{menuId})
    </foreach>
  </insert>

  <delete id="deleteIdList">
    delete from bean_department_connect_menu
    where department_id =#{departmentId}
    <foreach close=")" collection="menuIdList" item="menuId" open="and menu_id IN(" separator=",">
        #{menuId}
    </foreach>
  </delete>
</mapper>