<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.Department">
    <!--@mbg.generated-->
    <!--@Table bean_department-->
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="department_name" property="departmentName" />
    <result column="is_enable" property="isEnable" />
    <result column="memo" property="memo" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, department_name, is_enable, memo, update_user_id, update_time, create_user_id, 
    create_time, tenant_id
  </sql>


  <select id="findAvailableTree" resultType="map">
   select
    parent_id as 'parentId',
    id as 'id',
    tenant_id as 'tenantId',
    department_name as 'departmentName'
   from bean_department
   <trim prefix="where" prefixOverrides="and">
        and is_enable = 1
        <if test="departmentName != null and departmentName != ''">
            and department_name like concat('%',#{departmentName},'%')
        </if>
    </trim>
  </select>

  <select id="selectDepartmentList" parameterType="cn.com.tzy.springbootentity.dome.bean.Department" resultType="cn.com.tzy.springbootentity.dome.bean.Department">
   select
     <include refid="Base_Column_List" />
   from bean_department
   <trim prefix="where" prefixOverrides="and">
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
         <if test="id != null">
            and id = #{id}
        </if>
        <if test="isEnable != null">
            and is_enable = #{isEnable}
        </if>
        <if test="departmentName != null and departmentName != ''">
            and department_name like concat('%',#{departmentName},'%')
        </if>
    </trim>
  </select>

  <select id="selectNameLimit" resultType="cn.com.tzy.springbootentity.dome.bean.Department">
    select
    bu.*
    from bean_department bu
    <trim prefix="where" prefixOverrides="and">
        <if test="departmentIdList != null and departmentIdList.size() != 0">
            <foreach close=")" collection="departmentIdList" item="item" open="and bu.id not in(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="departmentName != null and departmentName != ''">
            and bu.department_name like concat('%',#{departmentName},'%')
        </if>
    </trim>
    <if test="limit != null">
        limit ${limit}
    </if>
  </select>
</mapper>