<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.DictionaryItemMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sys.DictionaryItem">
    <!--@mbg.generated-->
    <!--@Table sys_dictionary_item-->
    <id column="id" property="id" />
    <result column="sort" property="sort" />
    <result column="name" property="name" />
    <result column="value" property="value" />
    <result column="type_id" property="typeId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sort, `name`, `value`, type_id, update_user_id, update_time, create_user_id, 
    create_time
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sys.DictionaryItemParam" resultType="int">
    select
    count(sdi.id)
    from sys_dictionary_item sdi
    <trim prefix="where" prefixOverrides="and">
        <if test="typeId != null">
            and sdi.type_id = #{typeId}
        </if>
        <if test="name != null and name != ''">
            and sdi.name like concat('%',#{name},'%')
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sys.DictionaryItemParam" resultType="cn.com.tzy.springbootentity.dome.sys.DictionaryItem">
    select
    sdi.*
    from sys_dictionary_item sdi
    <trim prefix="where" prefixOverrides="and">
        <if test="typeId != null">
            and sdi.type_id = #{typeId}
        </if>
        <if test="name != null and name != ''">
            and sdi.name like concat('%',#{name},'%')
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by sdi.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>

    <select id="findDict" resultType="cn.com.tzy.springbootentity.dome.sys.DictionaryItem">
        select
            sdi.*
        from sys_dictionary_item sdi ,sys_dictionary_type sdt
        where sdi.type_id = sdt.id
        and sdt.status = 1
    </select>

</mapper>