<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.DictionaryTypeMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sys.DictionaryType">
    <!--@mbg.generated-->
    <!--@Table sys_dictionary_type-->
    <id column="id" property="id" />
    <result column="code" property="code" />
    <result column="status" property="status" />
    <result column="name" property="name" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `status`, `name`, update_user_id, update_time, create_user_id, create_time
  </sql>
</mapper>