<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.LogsMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sys.Logs">
    <!--@Table sys_logs-->
    <id column="id" property="id" />
    <result column="type" property="type" />
    <result column="ip" property="ip" />
    <result column="ip_attribution" property="ipAttribution" />
    <result column="method" property="method" />
    <result column="api" property="api" />
    <result column="param" property="param" />
    <result column="result" property="result" />
    <result column="duration" property="duration" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_id, `type`, ip,ip_attribution, method, api, param, `result`, duration, update_user_id,
    update_time, create_user_id, create_time
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.bean.LogsParam" resultType="int">
    select
    count(sl.id)
    from sys_logs sl
    <trim prefix="where" prefixOverrides="and">
      <if test="type != null">
        and sl.type = #{type}
      </if>
      <if test="ip != null and ip != ''">
        and sl.ip like concat('%',#{ip},'%')
      </if>
      <if test="ipAttribution != null and ipAttribution != ''">
        and sl.ip_attribution like concat('%',#{ipAttribution},'%')
      </if>
      <if test="api != null and api != ''">
        and sl.api like concat('%',#{api},'%')
      </if>
      <if test=" durationStart!= null">
        <![CDATA[and sl.duration >= #{durationStart}]]>
      </if>
      <if test=" durationEnd!= null">
        <![CDATA[and sl.duration >= #{durationEnd}]]>
      </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.bean.LogsParam" resultType="cn.com.tzy.springbootentity.dome.sys.Logs">
    select
    sl.*
    from sys_logs sl
    <trim prefix="where" prefixOverrides="and">
      <if test="type != null">
        and sl.type = #{type}
      </if>
      <if test="ip != null and ip != ''">
        and sl.ip like concat('%',#{ip},'%')
      </if>
      <if test="ipAttribution != null and ipAttribution != ''">
        and sl.ip_attribution like concat('%',#{ipAttribution},'%')
      </if>
      <if test="api != null and api != ''">
        and sl.api like concat('%',#{api},'%')
      </if>
      <if test=" durationStart!= null">
        <![CDATA[and sl.duration >= #{durationStart}]]>
      </if>
      <if test=" durationEnd!= null">
        <![CDATA[and sl.duration >= #{durationEnd}]]>
      </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by sl.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
      limit ${startRow},${pageSize}
    </if>
  </select>
</mapper>