<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.MenuMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.Menu">
    <!--@mbg.generated-->
    <!--@Table bean_menu-->
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="type" property="type" />
    <result column="menu_name" property="menuName" />
    <result column="path" property="path" />
    <result column="component" property="component" />
    <result column="redirect" property="redirect" />
    <result column="auth_code" property="authCode" />
    <result column="icon" property="icon" />
    <result column="active_icon" property="activeIcon" />
    <result column="active_path" property="activePath" />
    <result column="badge_type" property="badgeType" />
    <result column="badge_variants" property="badgeVariants" />
    <result column="badge_context" property="badgeContext" />
    <result column="hide_children_in_menu" property="hideChildrenInMenu" />
    <result column="hide_in_menu" property="hideInMenu" />
    <result column="hide_in_tab" property="hideInTab" />
    <result column="keep_alive" property="keepAlive" />
    <result column="no_basic_layout" property="noBasicLayout" />
    <result column="open_in_new_window" property="openInNewWindow" />
    <result column="status" property="status" />
    <result column="order" property="order" />
    <result column="memo" property="memo" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `type`, menu_name, `path`, component,redirect, auth_code,icon,active_icon,active_path,badge_type,badge_variants,badge_context,hide_children_in_menu,hide_in_menu,hide_in_tab,keep_alive,no_basic_layout,open_in_new_window,
    status, `order`, memo, update_user_id, update_time, create_user_id, create_time
  </sql>
  <select id="findAvailableTree" resultType="map">
    select
        bm.parent_id as parentId,
        bm.id as id,
        bm.menu_name as menuName
    from bean_menu bm
    <trim prefix="where" prefixOverrides="and">
        <if test="menuName != null and menuName != ''">
            and bm.menu_name like concat('%',#{menuName},'%')
        </if>
        <if test="isShowPrivilege != null and isShowPrivilege == 0">
            and bm.type != 3
        </if>
        and bm.status = 1
    </trim>
    order by `order` asc
 </select>

  <select id="findUserTenantMenu" parameterType="long" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
    select
        bm.*
    from bean_menu bm,sys_tenant_connect_menu stcp,bean_user bu
    where  bm.id = stcp.menu_id
    and stcp.tenant_id = bu.tenant_id
    and bu.id = #{userId}
    and bm.status = 1
    and bm.id like concat('%',':list')
 </select>

 <select id="findUserRoleMenu" parameterType="long" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
    select
        bm.*
    from bean_menu bm,bean_user_connect_role bucr,bean_role_connect_menu brcp
    where bm.id = brcp.menu_id
    and brcp.role_id = bucr.role_id
    and bm.status = 1
    and bucr.user_id = #{userId}
    and bm.id like concat('%',':list')
 </select>

 <select id="findUserDepartmentMenu" parameterType="long" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
    select
        bm.*
    from bean_menu bm,bean_user_connect_department bucr,bean_department_connect_menu brcp
    where bm.id = brcp.menu_id
    and brcp.department_id = bucr.department_id
    and bm.status = 1
    and bucr.user_id = #{userId}
    and bm.id like concat('%',':list')
 </select>

 <select id="findUserPositionMenu" parameterType="long" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
    select
        bm.*
    from bean_menu bm,bean_user_connect_position bucr,bean_position_connect_menu brcp
    where bm.id = brcp.menu_id
    and brcp.position_id = bucr.position_id
    and bm.status = 1
    and bucr.user_id = #{userId}
    and bm.id like concat('%',':list')
 </select>

 <select id="findSelect" parameterType="string" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
    select
        bm.*
     from bean_menu bm
     <trim prefix="where" prefixOverrides="and">
        <if test="menuName != null and menuName != ''">
            and bm.menu_name like concat('%',#{menuName},'%')
        </if>
     </trim>
     order by bm.order asc
 </select>


 <select id="findMenuPrivilegeTree" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
    select
     bm.*
    from bean_menu bm
    <trim prefix="where" prefixOverrides="and">
        and bm.status = 1
    </trim>
     order by `order`
 </select>

  <select id="findTenantMenuPrivilegeTree" resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
      select
       bm.*
      from bean_menu bm,sys_tenant_connect_menu stcp
      where bm.id = stcp.menu_id
      and stcp.tenant_id = #{tenantId}
      and bm.status = 1
      order by `order`
</select>

  <select id="findTypeButtonMenu"  resultType="cn.com.tzy.springbootentity.dome.bean.Menu">
      select
          a.*
       from bean_menu a
      <if test="bizType == 1">
          left join sys_tenant_connect_menu b on a.id = b.menu_id
      </if>
      <if test="bizType == 2">
          left join (bean_user_connect_department e,bean_department_connect_menu f) on e.department_id = f.department_id and a.id = f.menu_id
      </if>
      <if test="bizType == 3">
          left join  (bean_user_connect_position g,bean_position_connect_menu r) on g.position_id = r.position_id and a.id = r.menu_id
      </if>
      <if test="bizType == 4">
          left join (bean_user_connect_role c,bean_role_connect_menu d) on c.role_id = d.role_id and a.id = d.menu_id
      </if>
      <trim prefix="where" prefixOverrides="and">
          and a.type = 3
          and a.status = 1
          <if test="bizType == 1">
              and b.tenant_id = #{bizId}
          </if>
          <if test="bizType == 2">
              and e.user_id = #{bizId}
          </if>
          <if test="bizType == 3">
              and g.user_id = #{bizId}
          </if>
          <if test="bizType == 4">
              and c.user_id = #{bizId}
          </if>
      </trim>
  </select>
</mapper>