<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.MiniMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.Mini">
    <!--@mbg.generated-->
    <!--@Table bean_mini-->
    <id column="id" property="id" />
    <result column="open_id" property="openId" />
    <result column="phone" property="phone" />
    <result column="nick_name" property="nickName" />
    <result column="avatar_url" property="avatarUrl" />
    <result column="gender" property="gender" />
    <result column="login_last_time" property="loginLastTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, open_id, phone, nick_name, avatar_url, gender, login_last_time, update_user_id,
    update_time, create_user_id, create_time
  </sql>

  <select id="findWebUserId" resultType="cn.com.tzy.springbootentity.dome.bean.Mini">
    select
      bm.*
    from bean_mini bm,bean_mini_user bmu
     where bm.id = bmu.mini_id
    and bmu.user_id = #{userId}
  </select>
</mapper>