<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.OauthClientMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sys.OauthClient">
    <!--@mbg.generated-->
    <!--@Table sys_oauth_client-->
    <id column="client_id" property="clientId" />
    <result column="resource_ids" property="resourceIds" />
    <result column="client_secret" property="clientSecret" />
    <result column="scope" property="scope" />
    <result column="authorized_grant_types" property="authorizedGrantTypes" />
    <result column="web_server_redirect_uri" property="webServerRedirectUri" />
    <result column="authorities" property="authorities" />
    <result column="access_token_validity" property="accessTokenValidity" />
    <result column="refresh_token_validity" property="refreshTokenValidity" />
    <result column="additional_information" property="additionalInformation" />
    <result column="autoapprove" property="autoapprove" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    client_id, resource_ids, client_secret, `scope`, authorized_grant_types, web_server_redirect_uri, 
    authorities, access_token_validity, refresh_token_validity, additional_information, 
    autoapprove, update_user_id, update_time, create_user_id, create_time
  </sql>


  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sys.OauthClientParam" resultType="int">
    select
    count(soc.client_id)
    from sys_oauth_client soc
    <trim prefix="where" prefixOverrides="and">
        <if test="clientId != null and clientId != ''">
            and soc.client_id like concat('%',#{clientId},'%')
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sys.OauthClientParam" resultType="cn.com.tzy.springbootentity.dome.sys.OauthClient">
    select
    soc.*
    from  sys_oauth_client soc
    <trim prefix="where" prefixOverrides="and">
        <if test="clientId != null and clientId != ''">
            and soc.client_id like concat('%',#{clientId},'%')
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by soc.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>
</mapper>