<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.Role">
    <!--@mbg.generated-->
    <!--@Table bean_role-->
    <id column="id" property="id" />
    <result column="role_name" property="roleName" />
    <result column="memo" property="memo" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, memo, update_user_id, update_time, create_user_id, create_time, tenant_id
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.bean.RoleParam" resultType="int">
    select
    count(bs.id)
    from bean_role bs
    <trim prefix="where" prefixOverrides="and">
        <if test="roleName != null and roleName != ''">
            and bs.role_name like concat('%',#{roleName},'%')
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.bean.RoleParam" resultType="cn.com.tzy.springbootentity.dome.bean.Role">
    select
    bs.*
    from  bean_role bs
    <trim prefix="where" prefixOverrides="and">
         <if test="roleName != null and roleName != ''">
            and bs.role_name like concat('%',#{roleName},'%')
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by bs.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>

    <select id="selectNameLimit" resultType="cn.com.tzy.springbootentity.dome.bean.Role">
    select
    bs.*
    from bean_role bs
    <trim prefix="where" prefixOverrides="and">
        <if test="roleIdList != null and roleIdList.size() != 0">
            <foreach close=")" collection="roleIdList" item="item" open="and bs.id not in(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="roleName != null and roleName != ''">
            and bs.role_name like concat('%',#{roleName},'%')
        </if>
    </trim>
    <if test="limit != null">
        limit ${limit}
    </if>
  </select>
</mapper>