<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.TenantConnectMenuMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sys.TenantConnectMenu">
    <!--@mbg.generated-->
    <!--@Table sys_tenant_connect_menu-->
    <result column="tenant_id" property="tenantId" />
    <result column="menu_id" property="menuId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tenant_id, menu_id, update_user_id, update_time, create_user_id, create_time
  </sql>

  <select id="findTenantPrivilegeList" resultType="string">
       select
       stcp.menu_id
       from sys_tenant_connect_menu stcp ,bean_menu bp
       where stcp.tenant_id =#{tenantId}
       and stcp.menu_id = bp.auth_code
  </select>

  <insert id="saveTenantConnectMenu">
    insert into sys_tenant_connect_menu(tenant_id,menu_id) VALUES
    <foreach collection="menuIdList" item="menuId" separator=",">
     (#{tenantId},#{menuId})
    </foreach>
  </insert>

  <delete id="deleteTenantConnectMenu">
    delete from sys_tenant_connect_menu
    where tenant_id =#{tenantId}
    <foreach close=")" collection="menuIdList" item="menuId" open="and menu_id IN(" separator=",">
        #{menuId}
    </foreach>
  </delete>
</mapper>