<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.UserConnectRoleMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.UserConnectRole">
    <!--@mbg.generated-->
    <!--@Table bean_user_connect_role-->
    <result column="user_id" property="userId" />
    <result column="role_id" property="roleId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, role_id, update_user_id, update_time, create_user_id, create_time, tenant_id
  </sql>
  <select id="findAllByUserId" resultType="map">
        select
        bucr.role_id as roleId,
        br.role_name as roleName
        from bean_user_connect_role bucr ,bean_role br
        where bucr.user_id = #{userId}
        and bucr.role_id = br.id
   </select>

   <insert id="insertList">
    insert into bean_user_connect_role(user_id,role_id) VALUES
    <foreach collection="addList" item="roleId" separator=",">
     (#{userId},#{roleId})
    </foreach>
  </insert>

  <delete id="deleteList">
    delete from bean_user_connect_role
    where user_id =#{userId}
    <foreach close=")" collection="deleteList" item="roleId" open="and role_id IN(" separator=",">
        #{roleId}
    </foreach>
  </delete>
</mapper>