<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.UserConnectDepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.UserConnectDepartment">
    <!--@mbg.generated-->
    <!--@Table bean_user_connect_department-->
    <result column="user_id" property="userId" />
    <result column="department_id" property="departmentId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, department_id, update_user_id, update_time, create_user_id, create_time, 
    tenant_id
  </sql>
  <select id="findAllByUserId" resultType="map">
        select
        bucd.department_id as departmentId,
        bd.department_name as departmentName
        from bean_user_connect_department bucd ,bean_department bd
        where bucd.user_id = #{userId}
         and bucd.department_id = bd.id
   </select>

   <insert id="insertList">
    insert into bean_user_connect_department(user_id,department_id) VALUES
    <foreach collection="addList" item="departmentId" separator=",">
     (#{userId},#{departmentId})
    </foreach>
  </insert>

  <delete id="deleteList">
    delete from bean_user_connect_department
    where user_id =#{userId}
    <foreach close=")" collection="deleteList" item="departmentId" open="and department_id IN(" separator=",">
        #{departmentId}
    </foreach>
  </delete>
</mapper>