<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.UserMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.User">
    <!--@mbg.generated-->
    <!--@Table bean_user-->
    <id column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="nick_name" property="nickName" />
    <result column="login_account" property="loginAccount" />
    <result column="password" property="password" />
    <result column="credentialssalt" property="credentialssalt" />
    <result column="image_url" property="imageUrl" />
    <result column="phone" property="phone" />
    <result column="gender" property="gender" />
    <result column="id_card" property="idCard" />
    <result column="province_id" property="provinceId" />
    <result column="city_id" property="cityId" />
    <result column="area_id" property="areaId" />
    <result column="address" property="address" />
    <result column="memo" property="memo" />
    <result column="login_last_time" property="loginLastTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, nick_name, login_account, `password`, credentialssalt, image_url, 
    phone, gender, id_card, province_id, city_id, area_id, address, memo, login_last_time, 
    update_user_id, update_time, create_user_id, create_time, tenant_id
  </sql>


  <select id="findLoginAccount" parameterType="string" resultType="cn.com.tzy.springbootentity.common.info.SecurityBaseUser">
    select
      bu.*
    from bean_user bu
    where bu.login_account = #{loginAccount}
    GROUP BY bu.id
    order by bu.id desc
    limit 1
  </select>

  <select id="findLoginUserId" parameterType="long" resultType="cn.com.tzy.springbootentity.common.info.SecurityBaseUser">
    select
        bu.*
    from bean_user bu
    where bu.id = #{id}
    GROUP BY bu.id
    order by bu.id desc
    limit 1
  </select>

  <select id="selectPhone" parameterType="string" resultType="cn.com.tzy.springbootentity.common.info.SecurityBaseUser">
    select
      bu.*
    from bean_user bu
    where bu.phone = #{phone}
    GROUP BY bu.id
    order by bu.id desc
    limit 1
  </select>

    <select id="selectOpenId" parameterType="string" resultType="cn.com.tzy.springbootentity.common.info.SecurityBaseUser">
        select
        bu.*
        from bean_user bu,bean_mini_user bmu ,bean_mini bm
        where bu.id =bmu.user_id
        and bm.id = bmu.mini_id
        and bm.open_id = #{openId}
        GROUP BY bu.id
        order by bu.id desc
        limit 1
    </select>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.bean.UserParam" resultType="int">
    select
    count(bu.id)
    from bean_user bu
    <trim prefix="where" prefixOverrides="and">
        <if test="userName != null and userName != ''">
            and bu.user_name like concat('%',#{userName},'%')
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.bean.UserParam" resultType="cn.com.tzy.springbootentity.dome.bean.User">
    select
    bu.*
    from bean_user bu
    <trim prefix="where" prefixOverrides="and">
        <if test="userName != null and userName != ''">
            and bu.user_name like concat('%',#{userName},'%')
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by bu.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>

  <select id="findRoleIdList" resultType="cn.com.tzy.springbootentity.dome.bean.User">
    select
    bu.id as id,
    bu.user_name as userName
    from bean_user bu
    left join bean_user_connect_role bucr on bucr.user_id = bu.id
    where 1=1
    <if test="idList != null and idList.size() &gt; 0">
      <foreach close=")" collection="idList" item="id" open="and bucr.role_id in (" separator=",">
        #{id}
      </foreach>
    </if>
    group by bu.id, bu.user_name
  </select>

  <select id="findDepartmentIdList" resultType="cn.com.tzy.springbootentity.dome.bean.User">
    select
    bu.id as id,
    bu.user_name as userName
    from bean_user bu
    left join bean_user_connect_department bucd on bucd.user_id = bu.id
    where 1=1
    <if test="idList != null and idList.size() &gt; 0">
      <foreach close=")" collection="idList" item="id" open="and bucd.department_id in (" separator=",">
        #{id}
      </foreach>
    </if>
    group by bu.id, bu.user_name
  </select>


    <select id="findPositionIdList" resultType="cn.com.tzy.springbootentity.dome.bean.User">
        select
        bu.id as id,
        bu.user_name as userName
        from bean_user bu
        left join bean_user_connect_position bucd on bucd.user_id = bu.id
        where 1=1
        <if test="idList != null and idList.size() &gt; 0">
            <foreach close=")" collection="idList" item="id" open="and bucd.position_id in (" separator=",">
                #{id}
            </foreach>
        </if>
        group by bu.id, bu.user_name
    </select>


  <select id="findChoiceUserPageCount" parameterType="cn.com.tzy.springbootentity.param.bean.UserParam" resultType="int">
    select
    count(bu.id)
    from bean_user bu
    <trim prefix="where" prefixOverrides="and">
        <if test="search != null and search != ''">
            and (bu.id like concat('%',#{search},'%') or bu.user_name like concat('%',#{search},'%'))
        </if>
        <if test="userName != null and userName != ''">
            and bu.user_name like concat('%',#{userName},'%')
        </if>
        <if test="type != null and typeId != null ">
            <if test="type.value == 1">
                and exists(select 1 from bean_user_connect_role bucr where bucr.user_id = bu.id and bucr.role_id = #{typeId})
            </if>
            <if test="type.value == 2">
                and exists(select 1 from bean_user_connect_position bucr where bucr.user_id = bu.id and bucr.position_id = #{typeId})
            </if>
            <if test="type.value == 3">
                and exists(select 1 from bean_user_connect_department bucr where bucr.user_id = bu.id and bucr.department_id = #{typeId})
            </if>
        </if>
    </trim>
  </select>

  <select id="findChoiceUserPageResult" parameterType="cn.com.tzy.springbootentity.param.bean.UserParam" resultType="cn.com.tzy.springbootentity.dome.bean.User">
    select
    bu.*
    from bean_user bu
    <trim prefix="where" prefixOverrides="and">
        <if test="search != null and search != ''">
            and (bu.id like concat('%',#{search},'%') or bu.user_name like concat('%',#{search},'%'))
        </if>
        <if test="userName != null and userName != ''">
            and bu.user_name like concat('%',#{userName},'%')
        </if>
         <if test="type != null and typeId != null ">
            <if test="type.value == 1">
                and exists(select 1 from bean_user_connect_role bucr where bucr.user_id = bu.id and bucr.role_id = #{typeId})
            </if>
            <if test="type.value == 2">
                and exists(select 1 from bean_user_connect_position bucr where bucr.user_id = bu.id and bucr.position_id = #{typeId})
            </if>
            <if test="type.value == 3">
                and exists(select 1 from bean_user_connect_department bucr where bucr.user_id = bu.id and bucr.department_id = #{typeId})
            </if>
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by bu.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>


  <select id="selectNameLimit" resultType="cn.com.tzy.springbootentity.dome.bean.User">
    select
    bu.*
    from bean_user bu
    <trim prefix="where" prefixOverrides="and">
        <if test="userIdList != null and userIdList.size() != 0">
            <foreach close=")" collection="userIdList" item="item" open="and bu.id not in(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userName != null and userName != ''">
            and bu.user_name like concat('%',#{userName},'%')
        </if>
    </trim>
    <if test="limit != null">
        limit ${limit}
    </if>
  </select>
</mapper>