<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootbean.mapper.sql.UserConnectPositionMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.bean.UserConnectPosition">
    <!--@mbg.generated-->
    <!--@Table bean_user_connect_position-->
    <result column="user_id" property="userId" />
    <result column="position_id" property="positionId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, position_id, update_user_id, update_time, create_user_id, create_time, tenant_id
  </sql>

   <select id="findAllByUserId" resultType="map">
        select
        bucp.position_id as positionId,
        bp.position_name as positionName
        from bean_user_connect_position bucp,bean_position bp
        where bucp.user_id = #{userId}
        and bucp.position_id = bp.id
   </select>

   <insert id="insertList">
    insert into bean_user_connect_position(user_id,position_id) VALUES
    <foreach collection="addList" item="positionId" separator=",">
     (#{userId},#{positionId})
    </foreach>
  </insert>

  <delete id="deleteList">
    delete from bean_user_connect_position
    where user_id =#{userId}
    <foreach close=")" collection="deleteList" item="positionId" open="and position_id IN(" separator=",">
        #{positionId}
    </foreach>
  </delete>
</mapper>