<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootsms.mapper.MobileMessageTemplateMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sms.MobileMessageTemplate">
    <!--@mbg.generated-->
    <!--@Table sms_mobile_message_template-->
    <id column="id" property="id" />
    <result column="config_id" property="configId" />
    <result column="code" property="code" />
    <result column="type" property="type" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="receiver" property="receiver" />
    <result column="variable" property="variable" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, config_id, code, `type`, title, content, receiver, `variable`, update_user_id, 
    update_time, create_user_id, create_time, tenant_id
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sms.MobileMessageTemplateParam" resultType="int">
    select
    count(smmt.id)
    from sms_mobile_message_template smmt
    <trim prefix="where" prefixOverrides="and">
        <if test="configId != null">
            and smmt.config_id =#{configId}
        </if>
        <if test="configId == null">
            and 1 != 1
        </if>
        <if test="title != null and title != ''">
            and smmt.title like concat('%',#{title},'%')
        </if>
        <if test="code != null and code != ''">
            and smmt.code =#{code}
        </if>
        <if test="type != null ">
            and smmt.type =#{type}
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sms.MobileMessageTemplateParam" resultType="cn.com.tzy.springbootentity.dome.sms.MobileMessageTemplate">
    select
    smmt.*
    from sms_mobile_message_template smmt
    <trim prefix="where" prefixOverrides="and">
        <if test="configId != null">
            and smmt.config_id =#{configId}
        </if>
        <if test="configId == null">
            and 1 != 1
        </if>
       <if test="title != null and title != ''">
            and smmt.title like concat('%',#{title},'%')
        </if>
        <if test="code != null and code != ''">
            and smmt.code =#{code}
        </if>
        <if test="type != null ">
            and smmt.type =#{type}
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by smmt.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>


  <select id="findLast" resultType="cn.com.tzy.springbootentity.dome.sms.MobileMessageTemplate">
    select
    smmt.*
    from sms_mobile_message_template smmt
    <trim prefix="where" prefixOverrides="and">
        <if test="configId != null">
            and smmt.config_id =#{configId}
        </if>
        <if test="type != null ">
            and smmt.type =#{type}
        </if>
    </trim>
    order by smmt.id desc
    limit 1
  </select>
</mapper>