<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootsms.mapper.MobileMessageMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sms.MobileMessage">
    <!--@mbg.generated-->
    <!--@Table sms_mobile_message-->
    <id column="id" property="id" />
    <result column="sender_id" property="senderId" />
    <result column="template_id" property="templateId" />
    <result column="type" property="type" />
    <result column="content" property="content" />
    <result column="mobile" property="mobile" />
    <result column="handle_time" property="handleTime" />
    <result column="create_time" property="createTime" />
    <result column="status" property="status" />
    <result column="msg_id" property="msgId" />
    <result column="callback_status" property="callbackStatus" />
    <result column="resend_num" property="resendNum" />
    <result column="variable" property="variable" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sender_id, template_id, `type`, content, mobile, handle_time, create_time, `status`, 
    msg_id, callback_status, resend_num, `variable`, update_user_id, update_time, create_user_id, 
    tenant_id
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sms.MobileMessageParam" resultType="int">
    select
    count(smm.id)
    from sms_mobile_message smm
    <trim prefix="where" prefixOverrides="and">
        <if test="mobile != null and mobile != ''">
            and smm.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="status != null">
            and smm.status =#{status}
        </if>
        <if test="templateId != null  and templateId != ''">
            and smm.template_id =#{templateId}
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sms.MobileMessageParam" resultType="cn.com.tzy.springbootentity.dome.sms.MobileMessage">
    select
    smm.*
    from sms_mobile_message smm
    <trim prefix="where" prefixOverrides="and">
         <if test="mobile != null and mobile != ''">
            and smm.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="status != null">
            and smm.status =#{status}
        </if>
       <if test="templateId != null  and templateId != ''">
            and smm.template_id =#{templateId}
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by smm.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>
</mapper>