<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootsms.mapper.PublicNoticeMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sms.PublicNotice">
    <!--@mbg.generated-->
    <!--@Table sms_public_notice-->
    <id column="id" property="id" />
    <result column="notice_type" property="noticeType" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="begin_time" property="beginTime" />
    <result column="end_time" property="endTime" />
    <result column="status" property="status" />
    <result column="create_time" property="createTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, notice_type, title, content, begin_time, end_time, `status`, create_time, update_user_id, 
    update_time, create_user_id
  </sql>

  
  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sms.PublicNoticeParam" resultType="int">
    select
    count(spn.id)
    from sms_public_notice spn 
    <trim prefix="where" prefixOverrides="and">
      <if test="noticeType != null">
        and spn.notice_type = #{noticeType}
      </if>
      <if test="title != null and title != ''">
        and spn.title like concat('%',#{title},'%')
      </if>
      <if test="status != null">
        and spn.status =#{status}
      </if>
      <if test="beginTime != null">
        <![CDATA[and spn.begin_time >= #{beginTime}]]>
      </if>
      <if test="endTime != null">
        <![CDATA[and spn.end_time >= #{endTime}]]>
      </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sms.PublicNoticeParam" resultType="cn.com.tzy.springbootentity.dome.sms.PublicNotice">
    select
    spn.*
    from sms_public_notice spn
    <trim prefix="where" prefixOverrides="and">
      <if test="noticeType != null">
        and spn.notice_type = #{noticeType}
      </if>
      <if test="title != null and title != ''">
        and spn.title like concat('%',#{title},'%')
      </if>
      <if test="status != null">
        and spn.status =#{status}
      </if>
      <if test="beginTime != null">
        <![CDATA[and spn.begin_time >= #{beginTime}]]>
      </if>
      <if test="endTime != null">
        <![CDATA[and spn.end_time >= #{endTime}]]>
      </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by spn.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
      limit ${startRow},${pageSize}
    </if>
  </select>


  <select id="findUserPageCount" parameterType="cn.com.tzy.springbootentity.param.sms.PublicNoticeParam" resultType="int">
    select
    count(spn.id)
    from sms_public_notice spn
    left join sms_read_notice_user srnu on srnu.notice_id = spn.id and srnu.user_id = #{userId}
    <trim prefix="where" prefixOverrides="and">
      <if test="noticeType != null">
        and spn.notice_type = #{noticeType}
      </if>
      <if test="title != null and title != ''">
        and spn.title like concat('%',#{title},'%')
      </if>
      <if test="status != null">
        and spn.status =#{status}
      </if>
      <if test="beginTime != null">
        <![CDATA[and spn.begin_time >= #{beginTime}]]>
      </if>
      <if test="endTime != null">
        <![CDATA[and spn.end_time >= #{endTime}]]>
      </if>
    </trim>
  </select>


  <select id="findDateRange" resultType="cn.com.tzy.springbootentity.dome.sms.PublicNotice">
    select
    spn.*
    from sms_public_notice spn
    <trim prefix="where" prefixOverrides="and">
      <if test="date != null">
        #{date} between spn.begin_time and spn.end_time
      </if>
    </trim>
  </select>

  <select id="findUserPageResult" parameterType="cn.com.tzy.springbootentity.param.sms.PublicNoticeParam" resultType="cn.com.tzy.springbootentity.dome.sms.PublicNotice">
    select
    spn.*,
    if(srnu.id is null,0,1) as readNotice
    from sms_public_notice spn
    left join sms_read_notice_user srnu on srnu.notice_id = spn.id and srnu.user_id = #{userId}
    <trim prefix="where" prefixOverrides="and">
      <if test="noticeType != null">
        and spn.notice_type = #{noticeType}
      </if>
      <if test="title != null and title != ''">
        and spn.title like concat('%',#{title},'%')
      </if>
      <if test="status != null">
        and spn.status =#{status}
      </if>
      <if test="beginTime != null">
        <![CDATA[and spn.begin_time >= #{beginTime}]]>
      </if>
      <if test="endTime != null">
        <![CDATA[and spn.end_time >= #{endTime}]]>
      </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by spn.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
      limit ${startRow},${pageSize}
    </if>
  </select>

</mapper>