<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootsms.mapper.QuartzMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sms.Quartz">
    <!--@mbg.generated-->
    <!--@Table sms_quartz-->
    <id column="id" property="id" />
    <result column="classes_name" property="classesName" />
    <result column="cron_expression" property="cronExpression" />
    <result column="task_name" property="taskName" />
    <result column="group_name" property="groupName" />
    <result column="description" property="description" />
    <result column="type" property="type" />
    <result column="task_status" property="taskStatus" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, classes_name, cron_expression, task_name, group_name, description, `type`, task_status, 
    start_time, end_time, update_user_id, update_time, create_user_id, create_time, tenant_id
  </sql>
</mapper>