<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootsms.mapper.ReadNoticeUserMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sms.ReadNoticeUser">
    <!--@mbg.generated-->
    <!--@Table sms_read_notice_user-->
    <id column="id" property="id" />
    <result column="notice_id" property="noticeId" />
    <result column="user_id" property="userId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, notice_id, user_id, update_user_id, update_time, create_user_id, create_time
  </sql>

  <select id="findUserIdNoticeIdCount" resultType="int">
    select
            count(id)
    from sms_read_notice_user
    where user_id = #{userId}
    and notice_id = #{noticeId}

  </select>


  <select id="findNoticeIdCount" resultType="java.lang.Long">
    select
    user_id
    from sms_read_notice_user
    where notice_id = #{noticeId}
  </select>
</mapper>