<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tzy.springbootsms.mapper.SmsConfigMapper">
  <resultMap id="BaseResultMap" type="cn.com.tzy.springbootentity.dome.sms.SmsConfig">
    <!--@mbg.generated-->
    <!--@Table sms_sms_config-->
    <id column="id" property="id" />
    <result column="sms_type" property="smsType" />
    <result column="config_name" property="configName" />
    <result column="account" property="account" />
    <result column="password" property="password" />
    <result column="balance" property="balance" />
    <result column="is_active" property="isActive" />
    <result column="sign" property="sign" />
    <result column="sign_place" property="signPlace" />
    <result column="update_time" property="updateTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_time" property="createTime" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sms_type, config_name, account, `password`, balance, is_active, sign, sign_place, 
    update_time, update_user_id, create_user_id, create_time, tenant_id
  </sql>

  <select id="findPageCount" parameterType="cn.com.tzy.springbootentity.param.sms.SmsConfigParam" resultType="int">
    select
    count(ssc.id)
    from sms_sms_config ssc
    <trim prefix="where" prefixOverrides="and">
        <if test="configName != null and configName != ''">
            and ssc.config_name like concat('%',#{configName},'%')
        </if>
        <if test="smsType != null">
            and ssc.sms_type =#{smsType}
        </if>
    </trim>
  </select>

  <select id="findPageResult" parameterType="cn.com.tzy.springbootentity.param.sms.SmsConfigParam" resultType="cn.com.tzy.springbootentity.dome.sms.SmsConfig">
    select
    ssc.*
    from sms_sms_config ssc
    <trim prefix="where" prefixOverrides="and">
        <if test="configName != null and configName != ''">
            and ssc.config_name like concat('%',#{configName},'%')
        </if>
        <if test="smsType != null">
            and ssc.sms_type =#{smsType}
        </if>
    </trim>
    <if test="sort != null and sort.field != null and sort.order != null">
      order by ssc.${sort.field} ${sort.order}
    </if>
    <if test="pageNumber != null and pageSize != null">
        limit ${startRow},${pageSize}
    </if>
  </select>


  <select id="findList" resultType="cn.com.tzy.springbootentity.dome.sms.SmsConfig">
    select
    ssc.*
    from sms_sms_config ssc
    <trim prefix="where" prefixOverrides="and">
        <if test=" isActive!= null">
            and ssc.is_active = #{isActive}
        </if>
        <if test="type != null">
            and exists(select 1 from sms_mobile_message_template smmt where smmt.config_id =ssc.id and smmt.type = #{type} )
        </if>
    </trim>
  </select>
</mapper>